@import url("./../font/NHU/stylesheet.css");
@import url("./../font/SF/style.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
.text-brand-blue {
  color: #0a14c8;
}

.sFadeWrap {
  overflow: hidden;
  display: inline-block;
}

.sFadeWrap .sFade {
  display: inline-block;
}

.indexBg {
  background: -webkit-gradient(linear, left top, left bottom, from(#111), color-stop(75%, #222), to(#000));
  background: linear-gradient(to bottom, #111, #222 75%, #000);
  color: #E9E9E9 !important;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subBg {
  background-color: #e5e5e5;
  color: #343943 !important;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  overflow-y: hidden;
  word-break: break-all !important;
  width: 100%;
}

body.is-ready {
  overflow-y: auto;
}

#root {
  height: 100%;
  position: relative;
}

.pageTitleWrap {
  font-size: 4.4rem !important;
  line-height: 1 !important;
  font-weight: 300;
}

.pageContent {
  font-size: 1.6rem;
  white-space: pre-line;
  font-weight: 200;
}

.sectionTitle {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.sectionTitle i {
  margin-left: 0.8rem;
}

.pageSubTitle {
  font-weight: 600;
  font-size: 1.4rem;
}

#header {
  mix-blend-mode: difference;
  height: 9.6rem !important;
}

#header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header #nav .logo {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1;
  z-index: 99;
}

#header #nav .logo span {
  display: block;
}

#header #nav .menu {
  font-size: 2.4rem;
  margin-left: auto;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#header #nav-web {
  position: absolute;
  right: 0;
  visibility: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header #nav-web a {
  text-decoration: none;
  position: relative;
  display: inline;
}

#header #nav-web a .line {
  width: 0px;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 4px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#header #nav-web a .line::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#header #nav-web a:hover {
  color: #999EAA;
}

#header #nav-web a:hover .line::after {
  background-color: #999EAA;
}

#header #nav-web a.active .line {
  width: 12px;
}

#header #nav-web a:nth-child(2) {
  margin-right: 0 !important;
}

.project .contentWrap.intro .pageTitleWrap {
  line-height: 1.6 !important;
}

.project .contentWrap.intro .pageTitleWrap a:hover {
  color: #666666 !important;
}

#content .contentWrap.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .contentWrap.intro .pageTitleWrap {
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
  color: #F7F7F7;
}

#content .contentWrap.intro .pageTitleWrap .cate {
  display: none;
}

#content .contentWrap.intro .pageSubTitle {
  color: #F7F7F7;
}

#content .contentWrap.sub {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .contentWrap.sub .pageIndex {
  color: #222323;
  letter-spacing: -.1em;
  font-size: 40rem;
  line-height: 1.6em;
  margin-left: -56% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .contentWrap.sub .pageIndex .pageIndexWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .contentWrap.sub .pageIndex .pageIndexWrap .sFade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .contentWrap.sub .pageTitle {
  background-color: #222323;
  color: #F0F0F0;
}

#content .contentWrap.sub .pageTitle .line {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#content .contentWrap.sub .pageTitle .line .lineWrap {
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #999EAA;
}

#content .contentWrap.sub .pageTitle .pageTitleWrap {
  color: #F0F0F0 !important;
}

#content .contentWrap.sub .pageTitle .pageSubTitle {
  color: #F0F0F0 !important;
}

#content .contentWrap.sub .pageTitle .pageContent {
  color: #F0F0F0 !important;
}

#content .contentWrap.sub .pageTitleWrap {
  color: #222323 !important;
}

#content .contentWrap.sub .pageSubTitle {
  color: #222323 !important;
}

#content .contentWrap.sub .pageContent {
  color: #222323 !important;
}

#content .contentWrap.sub #fixdBg {
  height: 100vh;
  background-image: url("./../images/endsubaru.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#footer {
  position: fixed;
  bottom: 4rem;
  left: 0;
  display: none;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

#footer span {
  font-size: 1.3rem;
  font-weight: 200;
  color: #E9E9E9;
}

#bottomNav {
  height: 9.6rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottomNav .bottomNavWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#bottomNav .bottomNavWrap .projectName {
  font-size: 1.6rem !important;
  font-weight: 500;
  text-decoration: none;
}

#bottomNav .bottomNavWrap .projectNum {
  font-size: 1.4rem !important;
  font-weight: 300;
  position: absolute;
  right: 1.6rem;
}

#bottomNav .bottomNavWrap a {
  color: #222323;
}

#bottomNav .bottomNavWrap a:hover {
  color: #676C76;
}

@media (max-width: 576px) {
  body {
    font-size: 1.4rem;
  }
}

.sectionSpace-0-t {
  margin-top: 0rem !important;
}

.sectionSpace-0-b {
  margin-bottom: 0rem !important;
}

.sectionSpace-01-t {
  margin-top: 2.4rem !important;
}

.sectionSpace-01-b {
  margin-bottom: 2.4rem !important;
}

.sectionSpace-02-t {
  margin-top: 4.8rem !important;
}

.sectionSpace-02-b {
  margin-bottom: 4.8rem !important;
}

.sectionSpace-03-t {
  margin-top: 7.2rem !important;
}

.sectionSpace-03-b {
  margin-bottom: 7.2rem !important;
}

.sectionSpace-03-t {
  margin-top: 9.6rem !important;
}

.sectionSpace-03-b {
  margin-bottom: 9.6rem !important;
}

@media (max-width: 576px) {
  .xs-sectionSpace-0-t {
    margin-top: 0rem !important;
  }
  .xs-sectionSpace-0-b {
    margin-bottom: 0rem !important;
  }
  .xs-sectionSpace-01-t {
    margin-top: 3.2rem !important;
  }
  .xs-sectionSpace-01-b {
    margin-bottom: 3.2rem !important;
  }
  .xs-sectionSpace-02-t {
    margin-top: 6.4rem !important;
  }
  .xs-sectionSpace-02-b {
    margin-bottom: 6.4rem !important;
  }
  .xs-sectionSpace-03-t {
    margin-top: 9.6rem !important;
  }
  .xs-sectionSpace-03-b {
    margin-bottom: 9.6rem !important;
  }
  .xs-sectionSpace-03-t {
    margin-top: 12.8rem !important;
  }
  .xs-sectionSpace-03-b {
    margin-bottom: 12.8rem !important;
  }
}

@media (max-width: 768px) {
  #content {
    margin-top: 9.6rem !important;
    padding-bottom: 4rem !important;
  }
}

@media (min-width: 768px) {
  .sectionSpace-0-t {
    margin-top: 0rem !important;
  }
  .sectionSpace-0-b {
    margin-bottom: 0rem !important;
  }
  .sectionSpace-01-t {
    margin-top: 3.2rem !important;
  }
  .sectionSpace-01-b {
    margin-bottom: 3.2rem !important;
  }
  .sectionSpace-02-t {
    margin-top: 6.4rem !important;
  }
  .sectionSpace-02-b {
    margin-bottom: 6.4rem !important;
  }
  .sectionSpace-03-t {
    margin-top: 9.6rem !important;
  }
  .sectionSpace-03-b {
    margin-bottom: 9.6rem !important;
  }
  .sectionSpace-03-t {
    margin-top: 12.8rem !important;
  }
  .sectionSpace-03-b {
    margin-bottom: 12.8rem !important;
  }
  .md-sectionSpace-0-t {
    margin-top: 0rem !important;
  }
  .md-sectionSpace-0-b {
    margin-bottom: 0rem !important;
  }
  .md-sectionSpace-01-t {
    margin-top: 3.2rem !important;
  }
  .md-sectionSpace-01-b {
    margin-bottom: 3.2rem !important;
  }
  .md-sectionSpace-02-t {
    margin-top: 6.4rem !important;
  }
  .md-sectionSpace-02-b {
    margin-bottom: 6.4rem !important;
  }
  .md-sectionSpace-03-t {
    margin-top: 9.6rem !important;
  }
  .md-sectionSpace-03-b {
    margin-bottom: 9.6rem !important;
  }
  .md-sectionSpace-03-t {
    margin-top: 12.8rem !important;
  }
  .md-sectionSpace-03-b {
    margin-bottom: 12.8rem !important;
  }
  #header {
    height: 16rem !important;
  }
  #header #nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header #nav .logo {
    font-size: 1.5rem !important;
  }
  #header #nav .menu {
    opacity: 0;
  }
  #header #nav-web {
    visibility: visible !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #header #nav-web a {
    font-size: 1.8rem !important;
    margin-right: 4rem !important;
  }
  .project .contentWrap.intro .pageTitleWrap {
    overflow: hidden;
  }
  .project .contentWrap.intro .pageTitleWrap .icon {
    font-weight: zone;
    margin-left: 1.2rem;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
    -webkit-transition: all 0.2s 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    transition: all 0.2s 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .project .contentWrap.intro .pageTitleWrap:hover .icon {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #content .contentWrap.sub .pageIndex {
    margin-top: 20% !important;
    margin-left: -44% !important;
  }
  #content .contentWrap.sub .pageIndex .pageIndexWrap {
    font-size: 64rem !important;
  }
  #footer {
    display: block;
    opacity: 1 !important;
  }
  #bottomNav {
    height: 16rem !important;
  }
  #bottomNav .bottomNavWrap {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #bottomNav .bottomNavWrap .projectName {
    font-size: 2rem !important;
  }
}

@media (min-width: 1024px) {
  #header #nav-web a {
    margin-right: 6rem !important;
  }
  #content .contentWrap.sub .pageIndex {
    margin-top: 13% !important;
    margin-left: -20% !important;
  }
}

@media (min-width: 1280px) {
  .sectionSpace-0-t {
    margin-top: 0rem !important;
  }
  .sectionSpace-0-b {
    margin-bottom: 0rem !important;
  }
  .sectionSpace-01-t {
    margin-top: 4.8rem !important;
  }
  .sectionSpace-01-b {
    margin-bottom: 4.8rem !important;
  }
  .sectionSpace-02-t {
    margin-top: 9.6rem !important;
  }
  .sectionSpace-02-b {
    margin-bottom: 9.6rem !important;
  }
  .sectionSpace-03-t {
    margin-top: 14.4rem !important;
  }
  .sectionSpace-03-b {
    margin-bottom: 14.4rem !important;
  }
  .sectionSpace-03-t {
    margin-top: 19.2rem !important;
  }
  .sectionSpace-03-b {
    margin-bottom: 19.2rem !important;
  }
  .xl-sectionSpace-0-t {
    margin-top: 0rem !important;
  }
  .xl-sectionSpace-0-b {
    margin-bottom: 0rem !important;
  }
  .xl-sectionSpace-01-t {
    margin-top: 3.2rem !important;
  }
  .xl-sectionSpace-01-b {
    margin-bottom: 3.2rem !important;
  }
  .xl-sectionSpace-02-t {
    margin-top: 6.4rem !important;
  }
  .xl-sectionSpace-02-b {
    margin-bottom: 6.4rem !important;
  }
  .xl-sectionSpace-03-t {
    margin-top: 9.6rem !important;
  }
  .xl-sectionSpace-03-b {
    margin-bottom: 9.6rem !important;
  }
  .xl-sectionSpace-03-t {
    margin-top: 12.8rem !important;
  }
  .xl-sectionSpace-03-b {
    margin-bottom: 12.8rem !important;
  }
  #content .contentWrap.sub .pageIndex {
    margin-top: 9% !important;
  }
  #content .contentWrap.sub .pageIndex .pageIndexWrap {
    font-size: 72rem !important;
  }
}

@media (min-width: 1480px) {
  #content .contentWrap.sub .pageIndex {
    padding-top: 6% !important;
  }
  #content .contentWrap.sub .pageIndex .pageIndexWrap {
    font-size: 80rem !important;
  }
}
