@import url("./../font/NHU/stylesheet.css");
@import url("./../font/SF/style.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*[data-font="neue"].bold, *[data-font="neue"] .bold {
  font-family: 'Neue bold' !important;
}

*[data-font="neue"].light, *[data-font="neue"] .light {
  font-family: 'Neue Light' !important;
}

*[data-font="neue"].medium, *[data-font="neue"] .medium {
  font-family: 'Neue Medium' !important;
}

*[data-font="neue"].regular, *[data-font="neue"] .regular {
  font-family: 'Neue Regular' !important;
}

*[data-font="sfmono"].light, *[data-font="sfmono"] .light {
  font-family: 'SF Mono Light';
}

*[data-font="sfmono"].regular, *[data-font="sfmono"] .regular {
  font-family: 'SF Mono Regular' !important;
}

*[data-font="sfmono"].medium, *[data-font="sfmono"] .medium {
  font-family: 'SF Mono Medium' !important;
}

*[data-font="sfmono"].semibold, *[data-font="sfmono"] .semibold {
  font-family: 'SF Mono Semibold';
}

*[data-font="sfmono"].Bold, *[data-font="sfmono"] .Bold {
  font-family: 'SF Mono Bold';
}

*[data-font="sfmono"].Heavy, *[data-font="sfmono"] .Heavy {
  font-family: 'SF Mono Heavy';
}

.text-brand-blue {
  color: #0a14c8;
}

.sFadeWrap {
  overflow: hidden;
  display: inline-block;
}

.sFadeWrap .sFade {
  display: inline-block;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  width: 100%;
}

#root {
  height: 100%;
  position: relative;
}

#header {
  mix-blend-mode: difference;
  height: 9.6rem;
}

#header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

#header #nav .logo {
  text-decoration: none;
  color: #0a14c8;
  font-size: 1.6rem;
  line-height: 1;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
  z-index: 99;
}

#header #nav .logo span {
  display: block;
}

#header #nav .menu {
  color: #0a14c8;
  font-size: 2.4rem;
  margin-left: auto;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#header #nav-web {
  opacity: 1 !important;
  position: absolute;
  right: 0;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#header #nav-web a {
  color: #0a14c8 !important;
  text-decoration: none;
  font-family: 'Neue bold' !important;
  position: relative;
  display: inline;
  -webkit-transition: all 0.3s 2s ease-in-out;
  transition: all 0.3s 2s ease-in-out;
}

#header #nav-web a .line {
  width: 0px;
  height: 4px;
  position: absolute;
  left: 0px;
  bottom: 4px;
}

#header #nav-web a .line::after {
  content: '';
  background-color: #0a14c8;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#header #nav-web a.active .line {
  width: 16px;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#header #nav-web a:nth-child(2) {
  margin-right: 0 !important;
}

#header #nav-web a:last-child {
  font-size: 1.2rem;
  line-height: 2;
  position: absolute;
  right: 0rem !important;
}

.project .contentWrap.intro .pageTitle .title {
  line-height: 1.4 !important;
}

.project .contentWrap.intro .pageTitle .title a:hover {
  color: #0a14c8 !important;
}

body.is-ready .pageIndexWrap {
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 1 !important;
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

.eOrigin.is-inview .sFade {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.eOrigin .sFade {
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#content {
  height: 100%;
}

#content .contentWrap {
  padding-top: 16rem;
}

#content .contentWrap.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .contentWrap.intro .pageTitle {
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

#content .contentWrap.intro .pageTitle .title {
  color: #222323;
  font-size: 4.8rem;
  line-height: 1.2;
}

#content .contentWrap.intro .pageTitle .title .cate {
  display: none;
}

#content .contentWrap.intro .pageCon {
  color: #343943;
  font-size: 1.4rem;
  margin-top: 2.4rem;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

#content .contentWrap.intro .pageCon p:last-child {
  font-size: 1.1rem;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

#content .contentWrap.sub {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .contentWrap.sub .pageIndex {
  perspective: 600px;
  -webkit-perspective: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -40%;
  color: #222323;
  letter-spacing: -.1em;
  font-size: 40rem;
  line-height: 1.2em;
}

#content .contentWrap.sub .pageIndex .pageIndexWrap {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateY(100%) rotateX(-80deg);
          transform: translateY(100%) rotateX(-80deg);
  -webkit-transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#content .contentWrap.sub .pageIndex .pageIndexWrap:nth-child(1) {
  -webkit-transition-delay: .1s !important;
          transition-delay: .1s !important;
}

#content .contentWrap.sub .pageIndex .pageIndexWrap:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#content .contentWrap.sub .pageIndex .pageIndexWrap .sFade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .contentWrap.sub .pageTitle .pageTitleWrap {
  color: #343943 !important;
  font-size: 4rem !important;
  letter-spacing: -0.5px !important;
  line-height: 1.1 !important;
  font-family: 'Neue bold' !important;
  margin-bottom: 1.6rem;
}

#content .contentWrap.sub .pageTitle .pageContent {
  white-space: pre-line;
  word-break: keep-all;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 300;
}

#content .contentWrap.sub .pageTitle .line {
  position: relative;
  margin-bottom: 4.8rem;
  margin-left: 1rem;
}

#content .contentWrap.sub .pageTitle .line .lineWrap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #999EAA;
}

#content .contentWrap.sub .pageTitle .c-header_line.is-inview {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#content .contentWrap.sub .sectionTitle {
  color: #0a14c8;
  font-size: 2.4rem;
  line-height: 1em;
}

#content .contentWrap.sub .sectionTitle i {
  margin-left: 0.8rem;
}

#footer {
  position: fixed;
  bottom: 4rem;
  left: 0;
  display: none;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

#footer span {
  font-size: 1.3rem;
  color: #0a14c8;
}

#bottomNav {
  color: #0a14c8;
  font-size: 1.6rem !important;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#bottomNav .bottomNavWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#bottomNav .bottomNavWrap .projectName {
  font-size: 1.3rem;
  font-weight: bolder;
  text-decoration: none;
}

#bottomNav .bottomNavWrap .projectNum {
  font-size: 1.4rem !important;
  position: absolute;
  right: 1.6rem;
}

@media (max-width: 576px) {
  body {
    font-size: 1.4rem;
  }
}

.sectionSpace-01-t {
  margin-top: 3rem !important;
}

.sectionSpace-01-b {
  margin-bottom: 3rem !important;
}

.sectionSpace-02-t {
  margin-top: 6rem !important;
}

.sectionSpace-02-b {
  margin-bottom: 6rem !important;
}

.sectionSpace-03-t {
  margin-top: 9rem !important;
}

.sectionSpace-03-b {
  margin-bottom: 9rem !important;
}

@media (min-width: 768px) {
  .sectionSpace-01-t {
    margin-top: 6rem !important;
  }
  .sectionSpace-01-b {
    margin-bottom: 6rem !important;
  }
  .sectionSpace-02-t {
    margin-top: 12rem !important;
  }
  .sectionSpace-02-b {
    margin-bottom: 12rem !important;
  }
  .sectionSpace-03-t {
    margin-top: 18rem !important;
  }
  .sectionSpace-03-b {
    margin-bottom: 18rem !important;
  }
  #header {
    height: 16rem !important;
  }
  #header #nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header #nav .menu {
    opacity: 0;
  }
  #header #nav-web {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #nav-web a {
    font-size: 2.2rem;
    margin-right: 4rem;
  }
  #header #nav-web a:last-child {
    font-size: 1.2rem !important;
    margin-right: 0rem !important;
  }
  .project .contentWrap.intro .pageTitle .title {
    overflow: hidden;
  }
  .project .contentWrap.intro .pageTitle .title .icon {
    font-weight: lighter;
    margin-left: 1.2rem;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
    -webkit-transition: all 0.2s 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    transition: all 0.2s 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .project .contentWrap.intro .pageTitle .title:hover .icon {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #content .contentWrap.intro .pageTitle .title {
    font-size: 6.4rem !important;
    overflow: hidden;
  }
  #content .contentWrap.intro .pageCon {
    font-size: 1.5rem !important;
  }
  #content .contentWrap.sub .pageIndex {
    margin-left: -26% !important;
    margin-top: 32rem !important;
  }
  #content .contentWrap.sub .pageIndex .pageIndexWrap {
    font-size: 64rem !important;
  }
  #content .contentWrap.sub .pageTitle .pageTitleWrap {
    font-family: 'Neue Regular' !important;
    font-size: 6.4rem !important;
    line-height: 1em;
    letter-spacing: -1.5px;
  }
  #content .contentWrap.sub .pageTitle .pageContent {
    font-size: 1.6rem;
    line-height: 1.8;
  }
  #content .contentWrap.sub .sectionTitle {
    font-size: 3.2rem;
  }
  #footer {
    display: block;
    opacity: 1 !important;
  }
  #bottomNav .bottomNavWrap {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #bottomNav .bottomNavWrap .projectName {
    font-size: 2rem !important;
  }
}

@media (min-width: 1024px) {
  #header #nav .logo {
    font-size: 1.6rem !important;
  }
  #header #nav-web a {
    font-size: 2.4rem !important;
    margin-right: 7rem !important;
  }
  #header #nav-web a:last-child {
    font-size: 1.3rem !important;
    margin-right: 0 !important;
  }
  #content .contentWrap.intro .pageTitle .title {
    font-size: 7.2rem !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #content .contentWrap.intro .pageTitle .subText {
    margin-top: 0.8rem;
  }
  #content .contentWrap.intro .pageCon {
    font-size: 1.6rem !important;
  }
  #content .contentWrap.intro .pageCon p:last-child {
    font-size: 1.3rem !important;
  }
  #content .contentWrap.sub .pageIndex {
    margin-left: -30%;
  }
  #content .contentWrap.sub .pageIndex .pageIndexWrap {
    font-size: 72rem !important;
  }
}

@media (min-width: 1280px) {
  #header #nav .logo {
    font-size: 1.8rem !important;
  }
  #header #nav-web a {
    font-size: 2.5rem !important;
    margin-right: 8rem !important;
  }
  .sectionSpace-01-t {
    margin-top: 12rem !important;
  }
  .sectionSpace-01-b {
    margin-bottom: 12rem !important;
  }
  .sectionSpace-02-t {
    margin-top: 24rem !important;
  }
  .sectionSpace-02-b {
    margin-bottom: 24rem !important;
  }
  .sectionSpace-03-t {
    margin-top: 36rem !important;
  }
  .sectionSpace-03-b {
    margin-bottom: 36rem !important;
  }
  #content .contentWrap.sub .pageIndex {
    margin-top: 9% !important;
  }
  #content .contentWrap.sub .sectionTitle {
    font-size: 3.8rem;
  }
}

@media (min-width: 1480px) {
  #nav-web a {
    margin-right: 10rem !important;
  }
  #content .contentWrap.intro .pageTitle .title {
    font-size: 8rem !important;
  }
  #content .contentWrap.intro .pageCon {
    font-size: 1.8rem !important;
  }
  #content .contentWrap.intro .pageCon p:last-child {
    font-size: 1.3rem !important;
  }
  #content .contentWrap.sub .pageIndex .pageIndexWrap {
    font-size: 80rem !important;
  }
  #content .contentWrap.sub .pageTitle .pageTitleWrap {
    font-size: 8rem !important;
  }
  #content .contentWrap.sub .sectionTitle {
    font-size: 4rem;
  }
}

@media (min-width: 1680px) {
  #header #nav-web a {
    margin-right: 11rem !important;
  }
  #content .contentWrap.intro .pageCon p:last-child {
    font-size: 1.4rem !important;
  }
}
