
$black:#000;
$ink:#1a1a1a;
$darker:#161616;
$dark:#262626;
$body:#666666;
$muted:#999;
$mutedLight:#BBBBBB;
$body-dark:#050404;
$primary:#0F3FE3;
$blue-dark:#343943;
$blue-body:#676C76;
$blue-muted:#999EAA;
$blue-mutedLight:#CBCFD1;
$zone:#E9E9E9;
$lighter:#F0F0F0;
$light:#F7F7F7;
$border:#E3E3E3;
$brand-blue:#0a14c8;

$ink-ink:#222323;
$ink-darker:#343943;
$ink-dark:#676C76;
$ink-body:#999EAA;
$ink-muted:#ABB4BD;


$font-weight-light: 200;
$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-med: 500;
$font-weight-bolder: 700;
$font-weight-bold: 900;
