/*--------------------------------------------------------------
# Based on Cruip framework - v1.0.0
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables, functions and mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widths and spacing
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Other settings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons and forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons and forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
	* normalize.css v7.0.0 | MIT License
	* github.com/necolas/normalize.css
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal,
.modal::before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal.modal-video .modal-inner {
  padding: 0;
  max-width: 1024px;
}

.modal::before,
.modal .modal-inner {
  display: none;
}

.modal::before {
  content: '';
  position: absolute;
  background-color: rgba(21, 23, 25, 0.88);
}

.modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal.is-active::before,
.modal.is-active .modal-inner {
  display: block;
}

.modal.is-active .modal-inner {
  -webkit-animation: slideUpInModal .15s ease-in-out both;
          animation: slideUpInModal .15s ease-in-out both;
}

.modal.is-active::before {
  -webkit-animation: slideUpInModalBg .15s ease-in-out both;
          animation: slideUpInModalBg .15s ease-in-out both;
}

.modal-inner {
  max-height: calc(100vh - 16px * 2);
  overflow: auto;
  position: relative;
  width: calc(100%  - ( 16px * 2 ));
  max-width: 520px;
  margin-left: 16px;
  margin-right: 16px;
  background: #25282C;
}

.modal-content {
  padding: 48px 16px;
}

.modal-close {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
}

.modal-close::before, .modal-close::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -8px;
  width: 16px;
  height: 2px;
  background: #717D86;
}

.modal-close::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover::before, .modal-close:hover::after {
  background: #9CA9B3;
}

@media (min-width: 641px) {
  .modal-inner {
    margin: 0 auto;
    max-height: calc(100vh - 48px * 2);
  }
  .modal-content {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@-webkit-keyframes slideUpInModal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUpInModal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideUpInModalBg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpInModalBg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Theme
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
